.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem
}
.title-eventos{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.eventos-text{
  color: white;
  line-height: 2.5rem;
  font-size: large;
  text-align: center;
  width: 85vw;
}
@media(min-width: 1100px){
  #textContainer-gestao{
    width: 78vw;
  }
  .title-eventos{
    padding: 1rem;
  }
  .eventos-text{
    width: 78vw;
  }
}