.containerEvents{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
.titleEventos{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.eventosText{
  color: white;
  line-height: 2.5rem;
  font-size: large;
  text-align: center;
  width: 85vw;
}
@media(min-width: 1100px){
  .titleEventos{
    padding: 1rem;
  }
  .eventosText{
    width: 78vw;
  }
}