.textContainer-gestao{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 2.0rem;
    padding: 2.0rem;
    border: 0.4rem solid;
    border-radius: 1.0rem;
    border-color: #BE814B;

}
.textContainer-title{
    color: #000000;
    font-size: x-large;
}
.textContainer-text{
    color: #000000;
    line-height: 2.5rem;
    text-align: justify;
    font-size: medium;
}

@media (min-width: 1100px) {
    #textContainer-gestao{
        display: flex;
        padding: 3.0rem;
        padding-top: 3.0rem;
        padding-bottom: 3.0rem;
        height: 45vh;
        width: 20vw;
    }
    #textContainer-title{
        color: #000000;
        padding: 2.0rem;
        padding-bottom: 2.8rem;
        font-size: xx-large;
    }
    #textContainer-text{
        color: #000000;
        line-height: 2.5rem;
        text-align: center;
        font-size: x-medium;
    }
}