.container-publi{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
.title-page-publi{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.publi-text{
    color: white;
    line-height: 2.5rem;
    font-size: large;
    text-align: center;
    padding: 1.0rem;
}
.general-text{
  color: #000000;
  line-height: 2.5rem;
  text-align: center;
  font-size: large;
}
@media (min-width: 1100px){
}



