.containerHome{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
.titleHome{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.textHome{
  color: white;
  line-height: 2.5rem;
  font-size: large;
  text-align: center;
  padding: 1.0rem;
  width: 85vw;
}
.titleHomeProjetos{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
}
@media(min-width: 1100px){
  .titleHome{
    padding: 1rem;
  }
  .textHome{
    width: 78vw;
    padding: 0rem;
  }
  .titleHomeProjetos{
    padding: 1rem;
  }
}