#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
p{
  color: white;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  color: white;
}

#title-nav{
  margin-top: 1rem;
  color: white;
  font-size: 3rem;
  margin-right: 3rem;
}

#teste{
  width: 10vw;
  background-color: white;
}