.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
.title-home{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.text-home{
  color: white;
  line-height: 2.5rem;
  font-size: large;
  text-align: center;
  padding: 1.0rem;
  width: 85vw;
}
.title-home-projetos{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
}
@media(min-width: 1100px){
  #textContainer-gestao{
    width: 78vw;
  }
  .title-home{
    padding: 1rem;
  }
  .text-home{
    width: 78vw;
  }
  .title-home-projetos{
    padding: 1rem;
  }

}