.article-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.0rem;

}
.Art-title{
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 3.0rem;
}
.Art-text{
    color: #000000;
    line-height: 2.5rem;
    text-align: center;
    font-size: large;
}
.TextLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 80vw;
    background-color: white;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    padding: 3.0rem;
    border: 0.4rem solid;
    border-radius: 1.0rem;
    border-color: #BE814B;
}
.Art-text-link{
    color: #000000;
    line-height: 2.5rem;
    text-align: center;
    font-size: large;
    padding: 0.3rem;
}
@media (min-width: 1100px){
    #article-container{
        justify-content: space-between;
        padding: 2.0rem;
        width: 80vw;
        flex-direction: row;
    }
    .Art-title{
        font-size: xx-large;
    }
    .Art-text{
        font-size: large;
    }
    .TextLink{
        height: 45vh;
        width: 20vw;
        
    }
    .Art-text-link{
        font-size: large;
    }

}