.container-gestao{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 2.0rem;
}
.title-page-gestao{
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
}
.gestao-text-container{
    text-align: center;
    margin-top: 1.0rem;
}
.gestao-text{
    color: white;
    line-height: 2.5rem;
    font-size: medium;
    text-align: center;
}



