#container-gestao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}
#header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
#navBar-gestao{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 1.0rem;
    padding: 2.0rem;

}
#title-page-gestao{
    color: #FFFFFF;
    font-size: 3.6rem;
}
#icon-tabbar{
    color: white;
    height: 3.0rem;
    width: 3.0rem;
}
#body-gestao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem;
}
#gestao-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
#gestao-text{
    color: white;
    line-height: 2.5rem;
    font-size: 1.7rem;
}
#textContainer-gestao{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 2.0rem;
    padding: 2.0rem;
    border: 0.4rem solid;
    border-color: #BE814B;

}
#textContainer-title{
    color: #000000;
}
#textContainer-text{
    color: #000000;
    line-height: 2.5rem;
    text-align: justify;
    font-size: 1.7rem;
}

