.container-gestao{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 2.0rem;
}
.title-page-gestao{
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
}
.gestao-text{
    color: white;
    line-height: 2.5rem;
    font-size: medium;
    text-align: justify;
    margin-top: 1.0rem;
}
@media (min-width: 1100px){
    #maincontainer-gestao{
        padding: 4.0rem;
    }
    #title-page-gestao{
        color: #FFFFFF;
        font-size: xxx-large;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    #gestao-text{
        color: white;
        line-height: 2.5rem;
        width: 95%;
        font-size: large;
        text-align: center;
        margin-top: 1.0rem;
    }
}


