#title-nav{
    margin-top: 1rem;
    color: white;
    font-size: 3rem;
    margin-right: 3rem;
  }
  
  #teste{
    width: 10vw;
    height: 5vh;
    background-color: white;
  }

  #navbar{
    justify-items: center;
  }