#title-nav{
    margin-top: 1rem;
    color: white;
    font-size: xx-large;
    margin-right: 3rem;
    border-bottom: solid;
    border-bottom-width: 0.5rem ;
  }
  #subtitle-nav{
    margin-top: 1rem;
    color: white;
    font-size: xx-large;
    margin-right: 3rem;
  }
  #teste{
    width: 10vw;
    height: 5vh;
    background-color: white;
  }

  @media (min-width: 1100px){
      #navbar{
        min-width: 1100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }