#title-nav{
    margin-top: 1rem;
    color: white;
    font-size: xx-large;
    margin-right: 3rem;
  }
  #subtitle-nav{
    margin-top: 1rem;
    color: white;
    font-size: xx-large;
    margin-right: 3rem;
  }
  #teste{
    width: 10vw;
    height: 5vh;
    background-color: white;
  }
  #navbar{
    border-bottom: solid;
    border-bottom-width: 0.4rem ;
    color: white;
  }
