.footer-gestao{
    display: flex;
    align-items: center;
    width: 80vw;    
    padding: 1.0rem;
    margin-top: 2.0rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 0.2rem solid;
    border-color: #BE814B;
    background-color: white;
}
.textFooter-gestao{
    flex: 1;
    color: #000000;
    font-size: 1.4rem;
    text-align: center;
}
@media (min-width: 1100px){
    .footer-gestao{
        align-items: none;
        padding: 2.0rem;
        justify-content: space-between;
    }
    .textFooter-gestao{
        flex: 1;
        font-size: 1.5rem;
    }
}