.footer-gestao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    align-items: center;
    margin-top: 2.0rem;
    justify-self: flex-end;
    padding: 0.7rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.textFooter-gestao{
    color: #000000;
    font-size: small;
    text-align: center;
}