.footer-gestao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    background-color: white;
    align-items: center;
    margin-top: 2.0rem;
    justify-self: flex-end;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.textFooter-gestao{
    color: #000000;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.7rem;
}