.container-FAQ{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}
.title-page-FAQ{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 3rem;
}

.FAQ-text{
    color: white;
    line-height: 2.5rem;
    font-size: large;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 1100px){
}
