.container-FAQ{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}
.title-page-FAQ{
  color: #FFFFFF;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 1100px){

}
